
@brown: #7a6a53;
@blue: #435061;
@blue_border: #5B6374;

#navigation {
	.navbar {
		background-color: @blue;
		border-color: @blue_border;

		.navbar-brand {
			color: #FFFFFF;
			font-size: 20px;

			&:hover {
				color: #EEEEEE;
			}
		}
	}
}

#content {
	padding-top: 20px;

	.row {
		margin: 0;

		&.add-entry {
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.entry-row {
		border-bottom: dashed 1px #D8D7D7;
		margin-bottom: 30px;
	}

	.post {
		.panel-body {
			img {
				max-width: 718px;
			}
		}
	}

	.post-form {
		display: none;
	}

	.likes {
		padding-right: 32px;

		p {
			margin: 0;
		}

		.panel-heading {
			color: #F44;
		}

		.panel-body {
			padding: 10px 15px;

		}
	}

	.annotations {
		margin-bottom: 30px;

		.panel {
			background-color: #FDFDED;
		}
	}
}

#type-buttons {
	border-bottom: 1px solid #ddd;
}

.hidden {
	display: none;
}

.textinput {
	background-color: white;//#dddddd;
	height: 50px;


	line-height: 40px;
	font-size: 16pt;
	textarea {
		height: 50px;
		width: 100%;

		padding: 5px 10px;
		outline: none;
		border: none;
		overflow: hidden;
		resize: none;

		background-color: rgba(0,0,0,0);
	}
}

.photo-upload {
	border-bottom: 1px solid #ddd;
	label, input, button {
		display: none; 
	}
	height: 50px;
	div {
		width: 100%;
		height: 46px;
		position: relative;
		left: -2px;

	}
}
.type-button {
	cursor: pointer;

	text-align: center;
	font-size: 12pt;
	font-weight: 600;
	
	height: 40px;
	line-height: 40px;

	// border-top: 1px solid #dddddd;
	border-left: 1px solid #ddd;
	&:first-child {
		border-left: none;
	}
	
	&.selected {
		background-color: #eee;
	}
}
