
@brown: #7a6a53;
@blue: #435061;
@blue_border: #5B6374;

#navigation {
	.navbar {
		background-color: @blue;
		border-color: @blue_border;

		.navbar-brand {
			color: #FFFFFF;

			&:hover {
				color: #EEEEEE;
			}
		}
	}
}

#content {
	padding-top: 20px;

	.row {
		margin: 0;
	}
	.entry-row {
		border-bottom: dashed 1px #D8D7D7;
		margin-bottom: 30px;
	}

	.post {
		.panel-body {
			img {
				max-width: 718px;
			}
		}
	}

	.likes {
		padding-right: 32px;

		p {
			margin: 0;
		}

		.panel-heading {
			color: #F44;
		}

		.panel-body {
			padding: 10px 15px;

		}
	}

	.annotations {
		margin-bottom: 30px;

		.panel {
			background-color: #FDFDED;
		}
	}
}

.textinput {
	background-color: white;//#dddddd;
	// height: 50px;

	line-height: 40px;
	font-size: 16pt;
	textarea {
		// height: 50px;
		width: 100%;

		padding: 5px 10px;
		outline: none;
		border: none;

		resize: none;

		border-bottom: 1px solid #ddd;
		background-color: rgba(0,0,0,0);
	}
}

.photo-upload {
	border-bottom: 1px solid #ddd;
}
.type-button {
	text-align: center;
	font-size: 12pt;
	font-weight: 600;
	
	height: 60px;
	line-height: 60px;

	// border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	&:first-child {
		border-left: none;
	}

	&.selected {
		background-color: #eee;
	}
}
