{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/style.less" %}" rel="stylesheet/less" type="text/css">

  <script src="{% static "js/less-1.4.1.min.js" %}"></script>

  <script type="text/javascript" src="//use.typekit.net/zqk3lfx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
  <div id="navigation">
  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  		<div class="container">
	  		<div class="navbar-header">
	  			<a class="navbar-brand" href="#">Dorm Log</a>
	  		</div>
  		</div>
    </nav>
  </div>

  <div id="content">

  	<div class="container">
	  	<div class="page-header">
		  <h1>Hill <small>3rd Floor Blue Suite</small></h1>
		</div>

		<div class="row entry-row">
			<div class="likes col-md-1">
				<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title"><span class="glyphicon glyphicon-heart-empty"></span></h3>
				  	</div>
					<div class="panel-body">
						<p>RR</p>
						<p>NS</p>
						<p>JB</p>
					</div>
				</div>
			</div>
			<div class="post col-md-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><b>Tip</b> - Get breakfast before 10:30</h3>
				  </div>
				  <div class="panel-body">
				    Swag freegan American Apparel, letterpress chia paleo Intelligentsia wayfarers gastropub vinyl locavore narwhal meggings. Gluten-free banh mi Intelligentsia dreamcatcher artisan, 8-bit cardigan Schlitz craft beer fanny pack readymade American Apparel typewriter bespoke pop-up. Seitan street art trust fund butcher. Forage banjo stumptown, whatever distillery synth raw denim post-ironic brunch art party Austin hella literally YOLO squid. Flexitarian Austin meh, Echo Park keytar quinoa seitan gastropub distillery. Mixtape post-ironic drinking vinegar pug. Small batch direct trade tousled, messenger bag leggings cred vinyl freegan lomo.
				  </div>
				</div>
			</div>
			<div class="annotations col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
				    Swag freegan American Apparel, letterpress chia paleo Intelligentsia wayfarers. <a href="#"><i>–Reed Rosenbluth</i></a>
				  </div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
				    Swag freegan American Apparel, letterpress chia paleo Intelligentsia wayfarers. <a href="#"><i>–Nate Chodosh</i></a>
				  </div>
				</div>
			</div>
		</div>

		<div class="row entry-row">
			<div class="likes col-md-1">
				<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title"><span class="glyphicon glyphicon-heart-empty"></span></h3>
				  	</div>
					<div class="panel-body">
						<p>RR</p>
						<p>NS</p>
						<p>JB</p>
					</div>
				</div>
			</div>
			<div class="post col-md-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><b>Event</b> - Jason finally comes out of room</h3>
				  </div>
				  <div class="panel-body">
				    Swag forage Odd Future, Bushwick Cosby sweater keytar gluten-free flannel freegan scenester umami asymmetrical disrupt. Small batch Austin cred craft beer whatever Etsy freegan, Godard Schlitz brunch. Salvia yr irony wolf. Scenester cray master cleanse Carles gluten-free, Helvetica trust fund. Plaid Helvetica four loko Odd Future, sustainable authentic cornhole pop-up freegan PBR cred Tonx chia irony. Ugh asymmetrical selvage, beard Tonx +1 tote bag. Banksy stumptown fanny pack, direct trade artisan iPhone aesthetic slow-carb mumblecore banh mi narwhal.
				  </div>
				</div>
			</div>
		</div>
		
		<div class="row entry-row">
			<div class="col-md-1"></div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<form enctype='multipart/form-data' class="entry-form photo-form">
						{% csrf_token %}
						<div class="textinput">
							<textarea name="text"></textarea>
						</div>
						<div class = "photo-upload">
							{{form}}
						</div>
					</form>
					<div class="row">
                        <div class="type-button col-md-4 selected" id="tip-button"><span class="glyphicon glyphicon-upload"></span> Tip</div>
						<div class="type-button col-md-4" id="event-button"><span class="glyphicon glyphicon-calendar"></span> Event</div>
						<div class="type-button col-md-4" id="photo-button"><span class="glyphicon glyphicon-camera"></span> Photo</div>
					</div>
				</div>
			</div>
		</div>

	  	{% block container_wrap %}<div class="container" id="content">{% block content %}

	    {% endblock %}</div><!-- /container -->{% endblock %}
    </div>
  </div>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-autosize.min.js" %}"></script>
    <script src="{% static "js/entry.js" %}"></script>

    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
</body>
</html>
