{% extends "base.html" %}{% load staticfiles %}
{% load feed_filters %}
{% block content %}
	<script>
	var user_id = {% if user.id != None %}{{user.id}}{% else %}0{% endif %};
	var group_id = {% if group.id != None %}{{group.id}}{% else %}0{% endif %};
	</script>
	<div class="page-header">
	  <h1>{{ group.parent.name }} <small>{{ group.name }}</small></h1>
	</div>


	<div class="add-entry row">
		<div class="col-md-1"></div>
		<div class="col-md-8">

			<button type="button" class="add-new-entry btn btn-sm btn-link"><span class="glyphicon glyphicon-plus"></span> Add new post</button>
		</div>
	</div>
	{% for entry, annots, favs in entries %}
	<div class="post-form row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="row" id="type-buttons">
                    <div class="type-button col-md-4 selected" id="tip-button"><span class="glyphicon glyphicon-upload"></span> Tip</div>
					<div class="type-button col-md-4" id="event-button"><span class="glyphicon glyphicon-calendar"></span> Event</div>
					<div class="type-button col-md-4" id="photo-button"><span class="glyphicon glyphicon-camera"></span> Photo</div>
				</div>

				<form enctype='multipart/form-data' class="entry-form" id="tip-form">
					{% csrf_token %}
					<input type="hidden" name="group_id" value="{{group.id}}" />
					<div class="textinput">
						<textarea name="text" placeholder="Write something!"></textarea>
					</div>
				</form>
				<form enctype='multipart/form-data' class="entry-form hidden" id="event-form">
					{% csrf_token %}
					<input type="hidden" name="group_id" value="{{group.id}}" />
					<div class="textinput">
						<textarea name="text"></textarea>
					</div>
					<div class = "photo-upload">
						{{form}}
					</div>
				</form>
				<form enctype='multipart/form-data' class="entry-form hidden" id="photo-form">
					{% csrf_token %}
					<input type="hidden" name="group_id" value="{{group.id}}" />
					<div class="textinput">
						<textarea name="text"></textarea>
					</div>
					<div class = "photo-upload">
						{{form}}
					</div>
				</form>

				<ul class="submit-footer list-group">
					<li class="list-group-item">
						<p class="wordcount">0</p>
						<button class="submit-btn btn btn-primary btn-sm pull-right">Submit</button>
					</li>
				</ul>

			</div>
		</div>
	</div>
	<div class="row entry-row">

		<div class="likes col-md-1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<form data-entry="{{ entry.id }}" data-initials="{{user.first_name|first}}{{user.last_name|first}}">
				    	<button type ="submit" class="btn btn-link submit-fav"><span class = " glyphicon glyphicon-heart-empty"></span></button>
				    </form>
				    
			  	</div>
				<div class="panel-body">
					{% for favorite in favs.all%}
						<p class = "{{favorite.author.first_name|first}}{{favorite.author.last_name|first}}">{{favorite.author.first_name|first}}{{favorite.author.last_name|first}}</p>
					{% endfor %}
				</div>
			</div>
		</div>
		
		{% if entry.content_type|stringformat:"s" == 'tip entry'%}
			<div class="post col-md-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><b>Tip</b></h3>
				  </div>
				  <div class="panel-body">
				    {{ entry.text }}
				    <br>
				    <br>
				    <a href="#"><p>—{{ entry.user }}</p></a>
				  </div>
				</div>
			</div>
		{% elif entry.content_type|stringformat:"s" == 'photo entry' %}
			<div class="post col-md-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><b>Photo</b></h3>
				  </div>
				  <div class="panel-body">
				  	<img src="{{entry.as_leaf_class.photo}}" />
				  </div>
				  <ul class="list-group">
				  	<li class="list-group-item">{{ entry.text }}</li>
				  </ul>
				</div>
			</div>
		{% endif %}
		<div class="annotations col-md-3">
			<p><b>Notes</b></p>
			{% for annot in annots.all %}
			<div class="panel panel-default">
				<div class="panel-body">
			    {{ annot.text }} <a href="#"><i>–{{ annot.author }}</i></a>
			  </div>
			</div>
			{% endfor %}
			<form class="annotation-form form-inline" role="form" data-entry="{{ entry.id }}">
				<div class="form-group">
				    <input type="text" class="form-control" placeholder="Speak Your Mind...">
				</div>
				<button type="submit" class="submit-annot btn btn-default">Post</button>
			</form>
		</div>
	</div>
	{% endfor %}
{% endblock %}