{% extends "base.html" %}{% load staticfiles %}
{% load feed_filters %}
{% block content %}
	<div class="page-header">
	  <h1><small>{{ group.name }}</small></h1>
	</div>

	{% for entry, annots in entries %}
	<div class="row entry-row">
		<div class="likes col-md-1">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title"><span class="glyphicon glyphicon-heart-empty"></span></h3>
			  	</div>
				<div class="panel-body">
					<p>RR</p>
					<p>NC</p>
					<p>JB</p>
				</div>
			</div>
		</div>
		{% if entry.content_type|stringformat:"s" == 'tip entry'%}
			<div class="post col-md-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><b>Tip</b></h3>
				  </div>
				  <div class="panel-body">
				    {{ entry.text }}
				    <br>
				    <br>
				    <a href="#"><p>—{{ entry.user }}</p></a>
				  </div>
				</div>
			</div>
		{% elif entry.content_type|stringformat:"s" == 'photo entry' %}
			<div class="post col-md-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><b>Photo</b></h3>
				  </div>
				  <div class="panel-body">
				  	<img src="{{entry.as_leaf_class.photo}}" />
				  </div>
				  <ul class="list-group">
				  	<li class="list-group-item">{{ entry.text }}</li>
				  </ul>
				</div>
			</div>
		{% endif %}
		<div class="annotations col-md-3">
			<p><b>Notes</b></p>
			{% for annot in annots.all %}
			<div class="panel panel-default">
				<div class="panel-body">
			    {{ annot.text }} <a href="#"><i>–{{ annot.author }}</i></a>
			  </div>
			</div>
			{% endfor %}
			<form class="annotation-form form-inline" role="form" data-entry="{{ entry.id }}">
				<div class="form-group">
				    <input type="text" class="form-control" placeholder="Speak Your Mind...">
				</div>
				<button type="submit" class="submit-annot btn btn-default">Post</button>
			</form>
		</div>
	</div>
	{% endfor %}
	<div class="row entry-row">
			<div class="col-md-1"></div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="row" id="type-buttons">
                        <div class="type-button col-md-4 selected" id="tip-button"><span class="glyphicon glyphicon-upload"></span> Tip</div>
						<div class="type-button col-md-4" id="event-button"><span class="glyphicon glyphicon-calendar"></span> Event</div>
						<div class="type-button col-md-4" id="photo-button"><span class="glyphicon glyphicon-camera"></span> Photo</div>
					</div>

					<form enctype='multipart/form-data' class="entry-form" id="tip-form">
						{% csrf_token %}
						<div class="textinput">
							<textarea name="text"></textarea>
						</div>
					</form>
					<form enctype='multipart/form-data' class="entry-form hidden" id="event-form">
						{% csrf_token %}
						<div class="textinput">
							<textarea name="text"></textarea>
						</div>
						<div class = "photo-upload">
							{{form}}
						</div>
					</form>
					<form enctype='multipart/form-data' class="entry-form hidden" id="photo-form">
						{% csrf_token %}
						<div class="textinput">
							<textarea name="text"></textarea>
						</div>
						<div class = "photo-upload">
							{{form}}
						</div>
					</form>

				</div>
			</div>
		</div>
{% endblock %}